#
#Fri Sep 27 09:57:30 YEKT 2024
LRUList=/E\:/chav1961/temp/ks.certs;/E\:/chav1961/temp/a;/E\:/chav1961/temp/ttttt;/E\:/chav1961/temp/test.frb;/E\:/chav1961/temp/myalias.keys
currentLang=ru
currentRandom=8145286090877877248
currentRandomSeed=0
currentSalt=Hitler kaput\!
keepPassword=false
keepPasswords=true
preferredProvider=SUN
principalName=Self-signed principal
