#
#Fri Nov 13 11:31:34 YEKT 2020
LRUList=/E\:/chav1961/temp/ks.certs;/E\:/chav1961/temp/a;/E\:/chav1961/temp/ttttt;/E\:/chav1961/temp/test.frb;/E\:/chav1961/temp/myalias.keys
currentLang=ru
keepPasswords=true
principalName=Self-signed principal
currentSalt=Hitler kaput\!
preferredProvider=BC
currentRandom=8145286090877877248
